.img {
    width: 5%;
    height: 5%;
}

/* @media only screen and (min-width: 768px) and (max-width: 991px) {
    .img {
        width: 4%;
        height: 4%;
    }
} */

@media only screen and (max-width: 767px) {
    .img {
        width: 9%;
        height: 9%;
    }
}