.height {
    height: 2px;
}


.wheat {
    color: wheat !important;
}


.accordion {
    --bs-accordion-bg: translate;
}

.accordion-button:not(.collapsed) {
    color: wheat !important;
    background-color: transparent !important;
}

.accordion-button.collapsed {
    color: white;
    background-color: rgb(48, 47, 47);
}